body .light {
  --bg-color: #79799d;
  --inverted-bg-color: #4d1461;
  --primary-color: #930f0f;
  --secondary-color: #000000;
  --inverted-primary-color: #2a702a;
  --inverted-secondary-color: #ffffff;
}
