@import 'reset';
@import 'variables';
@import 'lightTheme';
@import 'darkTheme';

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  min-width: 100vw;
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 20px;
}
