@import 'reset';
@import 'variables';
@import 'lightTheme';
@import 'darkTheme';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  min-width: 100vw;
}
